##HELP.md
##.gradle
##build/
##!gradle/wrapper/gradle-wrapper.jar
##!**/src/main/**/build/
##!**/src/test/**/build/

### STS ###
##.apt_generated
##.classpath
##.factorypath
##.project
##.settings
##.springBeans
##.sts4-cache
##bin/
##!**/src/main/**/bin/
##!**/src/test/**/bin/

### IntelliJ IDEA ###
##.idea
##*.iws
##*.iml
##*.ipr
##out/
##!**/src/main/**/out/
##!**/src/test/**/out/

### NetBeans ###
##/nbproject/private/
##/nbbuild/
##/dist/
##/nbdist/
##/.nb-gradle/

### VS Code ###
##.vscode/


#RDS Info
src/main/resources
build/resources

#Secret Info
build/classes/java/main/com/todayfruit/config/secret
src/main/java/com/todayfruit/config/secret

#out/production/resources

#Test info
build/classes/java/main/com/todayfruit/util/AwsS3Controller.class
src/main/java/com/todayfruit/util/AwsS3Controller.java





